div{
    padding: 15px;
    text-align: center;
    width: 70vw;
    margin: 0  auto;
}
input{
    width: 35vw;
    padding-right: 40px;
    background-color: white;
    height: 30px;
    border-radius: 5px;
}
button{
    border: 1px solid black;
    height: 35px;
    margin-left:10px ;
    width: 90px;
    border-radius: 5px;
}